@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Menza++</h1>
    <p class="lead">Web aplikacija za jednostavno pregledavanje menzi.</p>
    <p><a href="../Menzas/Index" class="btn btn-primary btn-lg">Pregled menzi &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Uskoro počinje 3. Zagreb Guitar Festival!</h2>
        <p>
            U organizaciji Glazbene škole Bonar i zagrebačkog Studentskog centra, pod pokroviteljstvom predsjednice Republike Hrvatske Kolinde Grabar Kitarović, u Zagrebu se od 26. ožujka do 1. travnja ove godine održava 3. Zagreb Guitar Festival.
        </p>
        <p><a class="btn btn-default" href="http://www.sczg.unizg.hr/naslovnica/vijest/2017-03-15-uskoro-pocinje-3-zagreb-guitar-festival/">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tvornica zvuka s Nenadom Sinkauzom ponovo u Studentskom centru</h2>
        <p>Prošle je godine Muzički salon Kulture promjene pokrenuo novi projekt: radionicu elektroničke i improvizirane glazbe za djecu naziva Tvornica zvuka pod vodstvom glazbenika i skladatelja Nenada Sinkauza. Pilot projekt pokazao se izuzetno uspješnim, a interes djece i roditelja sve veći i veći. Naši su pioniri Tvornice zvuka ili glazbenici budućnosti radionicu završili koncertom kojim su ujedno na najljepši mogući način otvorili prošlogodišnji Izlog suvremenog zvuka. Zato Tvornica zvuka u SC-u ide dalje i počinje 13. veljače.</p>
        <p><a class="btn btn-default" href="http://www.sczg.unizg.hr/naslovnica/vijest/2017-02-09-tvornica-zvuka-s-nenadom-sinkauzom-ponovo-u-studentskom-centru/">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Studentski poslovi</h2>
        <p>Student servis se nalazi na drugom katu dvorišne zgrade Studentskog centra, Savska cesta 25.</p>
        <p><a class="btn btn-default" href="http://www.sczg.unizg.hr/student-servis/ponuda-poslova/">Link &raquo;</a></p>
    </div>
</div>